{% extends 'accounts/base.html' %}

{% block title %}Guest Dashboard - EventApp{% endblock %}

{% block content %}

<div class="row mb-4 text-center">
    <div class="col-12">
        <h2>Welcome, {{ user.full_name }} (Guest)</h2>
        <p>Select an option below.</p>
    </div>
</div>

<div class="row justify-content-center">

    <!-- My Bookings Card -->
    <div class="col-md-4 mb-4">
        <div class="card text-center h-100">
            <div class="p-4">
                <img src="https://cdn-icons-png.flaticon.com/512/6598/6598149.png"
                     class="img-fluid w-50 mx-auto d-block mb-3"
                     alt="Bookings">
            </div>
            <div class="card-body">
                <h4 class="card-title">My Bookings</h4>
                <p>View and manage your event bookings.</p>
                <a href="{% url 'guest:booking_list' %}" class="btn btn-info w-100">
                    Go to Bookings
                </a>
            </div>
        </div>
    </div>

    <!-- Browse Events Card -->
    <div class="col-md-4 mb-4">
        <div class="card text-center h-100">
            <div class="p-4">
                <img src="https://cdn-icons-png.flaticon.com/512/3595/3595455.png"
                     class="img-fluid w-50 mx-auto d-block mb-3"
                     alt="Events">
            </div>
            <div class="card-body">
                <h4 class="card-title">Browse Events</h4>
                <p>Explore upcoming events and buy tickets.</p>
                <a href="{% url 'guest:event_list' %}" class="btn btn-primary w-100">
                    See Events
                </a>
            </div>
        </div>
    </div>

</div>

{% endblock %}
